@page
@model TakenbeheerSysteem.Pages.Employee.DeleteModel
@{
	<body>
		<h1>Delete</h1>
		<p>Are you sure you wish to delete this employee?</p>
		<form method="post">
			<input type="submit" id="submit" />
		</form>
	</body>
}
