@page
@model TakenbeheerSysteem.Pages.Team.CreateModel
@{

    <div>
        <h1>
            Start a new team
        </h1>
        <form method="post">
            <div>
                <h2>Name:</h2>
                <input type="text" name="Name" required />
                <h2>Address:</h2>
                <input type="text" name="Address" required />
                <h2>Postal Code:</h2>
                <input type="text" name="PostalCode" required />
                <input class="text-yellow" type="submit" name="Submit" value="Create" />
                <input class="text-yellow" type="submit" name="Submit" value="Cancel" />
            </div>
        </form>
    </div>





}
