@page
@model TakenbeheerSysteem.Pages.Team.DeleteModel
@{

	<body>
		<h1>Delete</h1>
		<p>Are you sure you wish to delete your team?</p>
		<form method="post">
			<input type="submit" name="submit" value="Delete" />
			<input type="submit" name="submit" value="Cancel" />
		</form>
	</body>
}
