@page
@model TakenbeheerSysteem.Pages.Login.RegisterModel
@{

    <div>
        <h1>
            Register new account
        </h1>
        <form method="post">
            <div>
                <h2>Name:</h2>
                <input type="text" name="Name" required />
                <h2>Email:</h2>
                <input type="email" name="Email" pattern="[a-z0-9._%+\-]+&#64;[a-z0-9.\-]+\.[a-z]{2,}$" required />
                <h2>Password:</h2>
                <input type="password" name="Password" pattern="^(?=.*\d.*\d)(?=.*[A-Z])(?=.*[&#64;#$%\^&+=]).{8,}$" required />
                <br />
                <a>Password has to exist out of at least one symbol, two separate numbers and at least 8 characters.</a>
                <br />
                <input class="text-yellow" type="submit" value="Register" />
            </div>
        </form>
    </div>

}
